.centerDiv{
    /* width: 1000px; */
    /* height: 700px; */
    /* margin-top: 80px; */
    /* margin-bottom: 30px; */
    border-radius: 30px;
    /* margin-right: 30px; */
    /* background-color: white;*/
}

.docDiv{
    /* margin-top: 81px; */
    padding-top: 38px;
    /* border-radius: 30px; */
    /* margin-right: 30px; */
    background-color: white;
    width: 600px;
    padding-bottom: 38px;
}


/* .favorite{
    float:right;
    margin-top: 15px;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    color: #505050;
    margin-right: 30px;
} */

.docChooseDiv{
    font-family: "LineSeedKR-Bd";
    width: 300px;
    font-size: 22px;
    color: white;
    text-align: center;
    /* margin-top: 81px; */
    /* margin-left: 110px; */
    background-color: #667eea;
}

.docChooseDiv li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 18px;
}

.centerDiv button{
    width: 50px;
    /* float: right; */
    /* margin-top: 137px; */
    font-size: 14px;
    font-family: "LineSeedKR-Bd";
}

.centerDivButton{
    width: 50px;
    font-size: 14px;
    font-family: "LineSeedKR-Bd";
    background-color: #667eea;
    color: white;
    transform: translate(1680%, -150%);
}

.docTitle{
    font-family: "LineSeedKR-Bd";
    font-size: 22px;
    color: #505050;
    margin-left: 100px;
    /* margin-top: 30px; */
    padding-bottom: 20px;
    display: flex;
    margin-top: 10px;
}

.common{
    margin-left: 80px;
    font-size: 14px;
}

.confirm{
    background-color: #667eea;
    color:white;
    width:100px;
    transform:translate(-219%,-308%);
    /*%20margin-right:%2085px;%20*/
}

.container{
    margin: auto;
    transform: translate(23%, 18%);
}
