.centerDiv{
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    margin-top: 80px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 30px;
    margin-left: 500px;
}

.docDiv{
    width: 700px;
    height: 500px;
    background-color: rgba(119, 113, 235, 0.15);
    margin-top: 40px;
    border-radius: 30px;
    margin-right: 30px;
}

.title{
    background-color: #1A1779;
    color: white;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    padding-top: 35px;
    font-family: "LINESeedKR-Bd";
    font-size : 22px;
}

.favorite{
    float:right;
    margin-top: 15px;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    color: #505050;
    margin-right: 30px;
}

.docChooseDiv{
    font-family: "LineSeedKR-Bd";
    width:300px;
    font-size: 22px;
    color: #505050;
    text-align: center;
    margin-top: 50px;
}

.docChooseDiv li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 18px;
}

.centerDiv button{
    width: 50px;
    float: right;
    margin-top: 30px;
    font-size: 14px;
    font-family: "LineSeedKR-Bd";
}

.docTitle{
    font-family: "LineSeedKR-Bd";
    font-size: 22px;
    color: #505050;
    margin-left: 100px;
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    margin-top: 10px;
}

.common{
    margin-left: 80px;
    font-size: 14px;
}

.confirm{
    background-color: #1A1779;
    color: white;
    width: 100px;
    margin-right: 20px;
}