.bodyDiv{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 100%;
    /* width: calc(100% - 200px); */
    padding: 0 0 20px;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.buttonDiv button {
    width: 100px;
    margin: 5px 15px 5px 0px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.productTable{
    width: 100%;
    min-width: 1000px; /* 테이블의 최소 너비 설정 */
}

.productTable tr:hover { 
    background-color: #F5F5F5; 
}

.productTable tr {
    cursor: pointer;
}

.pagingBtn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: burlywood;
}

.modalDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(135deg, #d8dffd 0%, #c087f8 100%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
}
