.modal {
  position: absolute;
  border: none;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 284px;
  background-color: aliceblue;
  overflow-y: auto;
  font-family: 'LINESeedKR-Rg';
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.errorMessage {
  color: red;
  font-size: 0.8em;
}

.text0 {
  margin: 15px 0 0 15px;
  font-size: 24px;
  font-weight: bold;
}

.text1 {
  padding-right: 5px;
}

.text2 {
  padding-right: 5px;
}

.text3 {
  padding: 0 5px 0 15px;
}

.box1 {
  width: 400px;
}

.box2 {
  width: 205px;
}

.eqpTitle {
  margin: 15px 0 15px 20px;
  padding-top: 30px;
  border-top: 2px solid #5a5a5a1a;
}

.eqpInspector {
  margin: 15px 0 18px 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid #5a5a5a1a;
}

.button {
  border: none;
  border-radius: 3px;
  background-color: #716dff;
  top: 84%;
  left: 83%;
  position: fixed;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 3px 7px;
  padding-top: 5px;
  font-family: 'LINESeedKR-Rg';
  font-size: 16px;
  font-weight: 700;
  width: 70px;
  float: right;
}