@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


.titleDiv{
    font-family: 'GongGothicMedium';
    font-size:xx-large;
    margin-top: 30px;
    margin-left: 30px;
}

.listTitleDiv{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'LINESeedKR-Bd';
    font-size:larger;
    font-weight: bolder;
}

.listDiv{
    margin-top: 30px;
    margin-left: 30px;
}

.contentWrap{
    display: flex;
    margin-left: 30px;
}





