@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

.author{
    border: solid black 1px;
    width: 80px;
    height:45px;
    transform: translate(810%, -1180%);
    background-color: white;
    text-align: center;
}

.authorPosition{
    font-size: 18px;
    color: black;
    font-weight: 900;
}

.authorName{
    font-family:'LINESeedKR-Rg';
    font-size: 14px;
    color: #505050;
    font-weight: 600;
}

.common{
   border: solid black 1px;
   width: 80px;
   height:100px;
   background-color: white;
}

.detail{
    background-color:white;
    width:300px;
    height:550px;
    transform: translate(35.5%, -98.3%);
    background-color: #667eea;
}

.details{
    padding-bottom: 30px;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    color: white;
}

.details2{
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    padding-top: 23px;
    color: white;
}

.confirm{
    font-family:'LINESeedKR-Rg';
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    background-color: #667eea;
    transform: translate(800%, 45%);
}

.cancel{
   font-family:'LINESeedKR-Rg';
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
   transform: translate(800%, 45%);
}

.confirm2{
    font-family:'LINESeedKR-Rg';
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    background-color: #4A5CFF;
    transform: translate(1900%, 250%);
}

.cancel2{
   font-family:'LINESeedKR-Rg';
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
   transform: translate(1900%, 250%);
}

.authors{
    display: -webkit-inline-box;
}

.text{
    width: 700px;
    font-size: 14px;
    font-family:'LINESeedKR-Rg';
    color: #505050;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 350px;
}

.container {
    background:  rgba(253, 253, 253, 0.8);
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100vw;
    height: 700px;   
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    font-family: 'LINESeedKR-Rg';
}

.wrap{
    background-color: white;
    width: 1000px;
    height: 700px;
    transform: translate(22.5%, 0%);
    border-radius: 20px;
}

.editor{
    width: 500px;
    transform: translate(82%, 14%);
}

