
.author{
    border: solid black 1px;
    width: 80px;
<<<<<<< HEAD:src/Approval/pages/document/ApvVacation.module.css
    height:100px;
    margin-left: 1400px;
    margin-top:-800px;
=======
    height:45px;
    transform: translate(810%, -1180%);
    background-color: white;
    text-align: center;
}

.authorPosition{
    font-size: 18px;
    color: black;
    font-weight: 900;
}

.authorName{
    font-family:'LINESeedKR-Rg';
    font-size: 14px;
    color: #505050;
    font-weight: 600;
>>>>>>> 37798f8bb7450396051fb147b4274708a059d9ff:src/Approval/pages/document/ApvDocument.module.css
}

.common{
   border: solid black 1px;
   width: 80px;
   height:100px;
   margin-top:-800px;
}

.detail{
<<<<<<< HEAD:src/Approval/pages/document/ApvVacation.module.css
    background-color:#EBEAFC;
    width:600px;
    height:500px;
    margin-left: 1100px;
    margin-top: -600px;
    margin-bottom: 30px;
    border-radius : 20px;
}

.detail2{
    background-color:#1A1779;
    color:white;
    border-radius:20px;
    height: 50px;
    font-family:"LINESeedKR-Bd";
    font-size: 22px;
    text-align:center;
    padding-top: 20px;
    margin-top: 250px;
=======
    background-color:white;
    width:300px;
    height:550px;
    transform: translate(35.5%, -98.3%);
    background-color: #667eea;
>>>>>>> 37798f8bb7450396051fb147b4274708a059d9ff:src/Approval/pages/document/ApvDocument.module.css
}

.details{
    padding-bottom: 30px;
<<<<<<< HEAD:src/Approval/pages/document/ApvVacation.module.css
    padding-right: 30px;
    padding-left: 40px;
}

.details2{
    padding-bottom: 30px;
    padding-left: 40px;
=======
    padding-left: 10px;
    font-size: 18px;
    padding-top: 20px;
    color: white;
}

.details2{
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    padding-top: 23px;
    color: white;
>>>>>>> 37798f8bb7450396051fb147b4274708a059d9ff:src/Approval/pages/document/ApvDocument.module.css
}

.confirm{
    font-family:"LINESeedKR-Bd";
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
<<<<<<< HEAD:src/Approval/pages/document/ApvVacation.module.css
    background-color: #1A1779;
    margin-left: 500px;
=======
    background-color: #667eea;
    transform: translate(800%, 45%);
>>>>>>> 37798f8bb7450396051fb147b4274708a059d9ff:src/Approval/pages/document/ApvDocument.module.css
}

.cancel{
   font-family:"LINESeedKR-Bd";
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
<<<<<<< HEAD:src/Approval/pages/document/ApvVacation.module.css
=======
   transform: translate(800%, 45%);
}

.confirm2{
    font-family:'LINESeedKR-Rg';
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    background-color: #4A5CFF;
    transform: translate(1900%, 250%);
}

.cancel2{
   font-family:'LINESeedKR-Rg';
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
   transform: translate(1900%, 250%);
>>>>>>> 37798f8bb7450396051fb147b4274708a059d9ff:src/Approval/pages/document/ApvDocument.module.css
}

.authors{
    display: -webkit-inline-box;
}

<<<<<<< HEAD:src/Approval/pages/document/ApvVacation.module.css
=======
.text{
    width: 700px;
    font-size: 14px;
    font-family:'LINESeedKR-Rg';
    color: #505050;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 350px;
}

.container {
    background:  rgba(253, 253, 253, 0.8);
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100vw;
    height: 700px;   
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    font-family: 'LINESeedKR-Rg';
}

.wrap{
    background-color: white;
    width: 1000px;
    height: 700px;
    transform: translate(22.5%, 0%);
    border-radius: 20px;
}

.editor{
    width: 500px;
    transform: translate(82%, 14%);
}

>>>>>>> 37798f8bb7450396051fb147b4274708a059d9ff:src/Approval/pages/document/ApvDocument.module.css
