.normal{
    display : flex;
    margin-bottom: 40px;
}

.normals{
    height:800px;
    width: 700px;
    border: solid black 1px;
    margin-left:40px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.document{
    text-align : center;
    margin-top:30px;
    font-family:"LINESeedKR-Bd";
    color: #505050;
    font-size: 22;
}

.text{
    height:50px;
    width: 600px;
    border: solid black 1px;
    margin-left : 45px;
    margin-top: 30px;
    font-family:"LINESeedKR-Bd";
    color: #505050;
    font-size: 22;
}

.title{
    padding-left: 40px;
    padding-top: 10px;
}

.title2{
    padding-left: 25px;
    padding-top: 10px;
}

.context{
    font-family:"LINESeedKR-Bd";
    color:#505050;
    font-size: 18px;
}

.context2{
    font-family:"LINESeedKR-Bd";
    color:#505050;
    font-size: 22px;
    text-align:center;
    margin-top: 20px;
}

.textbox{
    width: 500px;
    height: 300px;
    margin-left: 90px;
    margin-top:50px;
    font-family:"LINESeedKR-Bd";
    color:#505050;
    font-size: 14px;
    text-align: center;
}

.check{
    margin-top: 30px;
    margin-left: 550px;
    width: 50px;
    background-color: #1A1779;
    color: white;
}