
.author{
    border: solid black 1px;
    width: 80px;
    height:100px;
    margin-left:1100px;
    margin-top: -900px;
}

.common{
   border: solid black 1px;
   width: 80px;
   height:100px;
   margin-left:400;
   margin-top:-900px;
}

.detail{
    background-color:#EBEAFC;
    width:600px;
    height:500px;
    margin-left: 1100px;
    margin-top: -700px;
    margin-bottom: 30px;
    border-radius : 20px;
}

.detail2{
    background-color:#1A1779;
    color:white;
    border-radius:20px;
    height: 50px;
    font-family:"LINESeedKR-Bd";
    font-size: 22px;
    text-align:center;
    padding-top: 20px;
}

.details{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.details2{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.confirm{
    font-family:"LINESeedKR-Bd";
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    background-color: #1A1779;
    margin-left: 1300px;
    margin-bottom: 50px;
}

.cancel{
   font-family:"LINESeedKR-Bd";
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
}

.authors{
    display: flex;
}

