
.author{
    border: solid black 1px;
    width: 80px;
    height:100px;
    margin-left: 1400px;
    margin-top:-800px;
}

.common{
   border: solid black 1px;
   width: 80px;
   height:100px;
   margin-top:-800px;
}

.detail{
    background-color:#EBEAFC;
    width:600px;
    height:500px;
    margin-left: 1100px;
    margin-top: -600px;
    margin-bottom: 30px;
    border-radius : 20px;
}

.detail2{
    background-color:#1A1779;
    color:white;
    border-radius:20px;
    height: 50px;
    font-family:"LINESeedKR-Bd";
    font-size: 22px;
    text-align:center;
    padding-top: 20px;
    margin-top: 250px;
}

.details{
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 40px;
}

.details2{
    padding-bottom: 30px;
    padding-left: 40px;
}

.confirm{
    font-family:"LINESeedKR-Bd";
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    background-color: #1A1779;
    margin-left: 500px;
}

.cancel{
   font-family:"LINESeedKR-Bd";
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
}

.confirm2{
    font-family:"LINESeedKR-Bd";
    color:white;
    font-size: 14px;
    text-align: center;
    width: 50px;
    background-color: #1A1779;
    margin-left: 950px;
    transform: translateY(700%);
}

.cancel2{
   font-family:"LINESeedKR-Bd";
   color:white;
   font-size: 14px;
   text-align: center;
   width: 50px;
   background-color:#4A5CFF;
   transform: translateY(700%);
}

.authors{
    display: flex;
}

.text{
    width: 700px;
    font-size: 14px;
    font-family:"LINESeedKR-Bd";
    color: #505050;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 350px;
}

