@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Th.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Th.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Bd.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Bd.woff') format('woff');
    font-style: normal;
}

* { 
    margin: 0px;
    padding: 0px;
}

.container {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.wrap{
    margin: 0 200px;
}

.content {
    display: flex;
}

.contentBg {
    background:  rgba( 255, 255, 255 , 0.85 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: auto;
    min-height: 900px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    flex: 1;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);

}