@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.wrap{
    width: 450px;
    height: 230px;
    background-color: white;
    margin-left: 500px;
    margin-bottom: 640px;
    margin-top: -631px;
    border: #4A5CFF solid 1px;
    transform:translateY(55%);
}

.title{
    background-color: #4A5CFF;
    width: 450px;
    height: 30px;
    font-family: "LINESeedKR-Bd";
    font-size : 22px;
    color: white;
    text-align: center;
}

.contextTitle{
    padding-left: 10px;
    font-family: "LINESeedKR-Bd";
    font-size : 18px;
    transform: translate(-10%, -50%);
}

.context{
    padding-left: 10px;
    /* padding-right: 17px; */
    font-family: "LINESeedKR-Bd";
    font-size: 14px;
    transform: translate(-10%, -50%);
}