@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

/* list CSS*/
.mainTableWarp{
    height: 500px;
}

.contentTb {
    border-collapse: collapse;
    margin: auto;
    margin-left: 30px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    border-radius: 5px;
    overflow: hidden;
    width: 95%;
}

.pageTitle {
    font-family: LINESeedKR-Bd;
    font-size: 20px;
    width: 100px;
    margin-top: 30px;
    margin-left: 33px;
    margin-bottom: 10px;
}

.titleLine {
    margin: auto;
    border : 0;
    border-top : 2px solid #dbdbdbde;
    width: 96%;
    margin-bottom: 30px;
}

.bottonLine {
    margin: auto;
    border : 0;
    border-top : 2px solid #dbdbdbde;
    width: 96%;
    margin-top: 300px;
}

.paging {
    margin: auto;
}

.contentTitle {
    font-family: LINESeedKR-Bd;
    font-size: 16px;
    color: white;
    min-width: 105px;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 13px 0px 13px 0px;
    background-color: #9b83fa;
    height: 26px;
}

/* item CSS*/
.itemContentTb {
    border-collapse: collapse;
    margin: auto;
    background-color: #f3f3f3;
    margin-left: 30px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    overflow: hidden;
    width: 95%;
    margin-top: -3px;
}

.itemContentTb > tr:hover {
    border-collapse: collapse;
    color: #fff;
    background-color: rgba(173, 172, 192, 1);
    cursor: pointer;
}

.contentText {
    font-family: LINESeedKR-Rg;
    font-size: 14px;
    text-align: center;
    min-width: 105px;
    border-bottom: 1px solid #c0b4f0;
    padding: 12px 0px 12px 0px;
    height: 25px;
}

.contentHover > tr:hover {
    color: #fff;
    background-color: #7777775e;
    cursor: pointer;
}


