@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.contentWrap {
    background-color: #ffffff;
    width: 500px;
    height: 430px;
    margin-left: 30px;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 15px;
}

.pageTitle {
    font-family: LINESeedKR-Bd;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 30px;
}

.contentTb {
    margin-top: 30px;
    margin-left: 30px;
    border-collapse: collapse;
}

.contentTitle {
    font-family: LINESeedKR-Bd;
    font-size: 1rem;
    width: 100px;
    margin-top: 60px;
    text-align: left;
    vertical-align: middle;
    border-top: 1.5px solid #9BA4B5;
    border-bottom: 1.5px solid #9BA4B5;
    padding: 10px;
}

.contentText {
    font-family: LINESeedKR-Bd;
    font-size: 0.8rem;
    width: 130px;
    border-bottom: 1.5px solid #9BA4B5;
    border-top: 1.5px solid #9BA4B5;
    padding: 10px;
}

/* 버튼 */
.btnWrap {
    display: flex;
}

.detailBtn {
    font-family: 'LINESeedKR-Bd';
    font-size: 0.8rem;
    color: white;
    border-radius: 3px;
    background-color: #716dff;
    width: 100px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.modifyBtn {
    border: none;
    border-radius: 3px;
    background-color: #716dff;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 3px 7px;
    padding-top: 5px;
    font-family: 'LINESeedKR-Rg';
    font-size: 13px;
    font-weight: 700;
    width: 110px;
    margin-top: 15px;
    margin-left: 30px;
}

.addPassBtn {
    border: none;
    border-radius: 3px;
    background-color: #716dff;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 3px 7px;
    padding-top: 5px;
    font-family: 'LINESeedKR-Rg';
    font-size: 13px;
    font-weight: 700;
    width: 110px;
    margin-top: 15px;
    margin-left: 10px;
}

.cancelBtn {
    border: none;
    border-radius: 3px;
    background-color: #716dff;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 3px 7px;
    padding-top: 5px;
    font-family: 'LINESeedKR-Rg';
    font-size: 13px;
    font-weight: 700;
    width: 110px;
    margin-top: 15px;
    margin-left: 10px;
}



