@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

  /* 돌아가기 버튼 */
  .confirmBtn {
    font-family: 'LINESeedKR-Bd';
    font-size: 0.9rem;
    color: white;
    background: #785ee0;
    border-color: #785ee0;
    width: 120px;
    height: 35px;
    margin-top: 50px;
  }

  /* 모달 */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalContainer{
    width: 650px;
    height: 700px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}

.modalTitle{
    margin-top: 40px;
    font-family: LINESeedKR-Bd;
    font-size: xx-large; 
}

/* 컨텐츠 테이블 */
.contentTb {
    margin-top: 30px;
    margin-left: 8px;
    border-collapse: collapse;
}

.titleTd {
    width: 110px;
    border-top: 1.5px solid #9BA4B5;
    border-bottom: 1.5px solid #9BA4B5;
    padding: 8px;
}

.contentTitle{
    font-family: LINESeedKR-Bd;
    font-size: 1.1rem;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
}

.contentText{
    font-family: LINESeedKR-Bd;
    font-size: 0.8rem;
    border-bottom: 1px solid #9BA4B5;
    padding: 7px;
}

.modalTable{
    padding: 30px;
    margin-top: 30px;
    font-family: LINESeedKR-Bd;
    font-size:16px;
}



