@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

/* list CSS*/
.contentTb {
    border-collapse: collapse;
    margin: auto;
    margin-left: 30px;
}

.pageTitle {
    font-family: LINESeedKR-Bd;
    font-size: 1.2rem;
    width: 130px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.contentTitle {
    font-family: LINESeedKR-Bd;
    font-size: 14px;
    color: white;
    width: 140px;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
    border-top: 1.5px solid #9BA4B5;
    border-bottom: 1.5px solid #9BA4B5;
    padding: 10px;
    background-color: #9b83fa;
}

/* item CSS*/
.itemContentTb {
    border-collapse: collapse;
    margin: auto;
    background-color: #f3f3f3;
    margin-left: 30px;
}

.itemContentTb > tr:hover {
    border-collapse: collapse;
    color: #fff;
    background-color: rgba(173, 172, 192, 1);
    cursor: pointer;
}

.contentText {
    font-family: LINESeedKR-Rg;
    font-size: 14px;
    text-align: center;
    width: 140px;
    border-bottom: 1px solid #9BA4B5;
    padding: 10px;
}

.contentHover > tr:hover {
    color: #fff;
    background-color: #7777775e;
    cursor: pointer;
}

.searchBoxWarp {
    display: flex;
}

.searchBox{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: LINESeedKR-Rg;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    
    color: #444;
    background-color: #EDEFF0;
    
    padding: 2px 0px 3px 18px;

    margin: auto;
    margin-left: 750px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    border: 1px solid #999999;
}

.searchBtn {
    font-family: 'LINESeedKR-Bd';
    font-size: 0.8rem;
    color: white;
    background: #785ee0;
    border-color: #785ee0;
    width: 60px;
    height: 25px;
    margin-left: 10px;
}

