@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

/* select box */
.contentText > select {
  -moz-appearance: none; 
  -webkit-appearance: none;
  appearance: none; 

  
  font-family: LINESeedKR-Rg;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  
  color: #444;
  background-color: #EDEFF0;
  
  padding: .6em 22.3em .5em .8em;
  margin: 0;
  
  border: 1px solid #999999;
}

.contentText > select:hover {
  border-color: #5c58cf;
}

.contentText > select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.contentText > select:disabled {
  opacity: 0.5;
}

.contentText > label {
  font-family: LINESeedKR-Rg;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  
  color: #444;
  
  margin-right: 0.5em;
}

.contentText > form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contentText > body {
  margin: 0;
}

/* input box */
.contentText > input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: LINESeedKR-Rg;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    
    color: #444;
    background-color: #EDEFF0;
    
    padding: .6em 15em .5em .8em;
    margin: 0;
    
    border: 1px solid #999999;
}

.contentText > input:hover {
    border-color: #5c58cf;
  }

.dateStyle {
    width: 150px;
}


/* content */
.contentWrap {
    background-color: white;
    width: 555px;
    height: 550px;
    margin-left: 30px;
    margin-top: 15px; 
    padding-top: 3px;
    padding-bottom: 15px;
}

.pageTitle {
    font-family: "LINESeedKR-Bd";
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 30px;
}

.contentTb {
    margin-top: 30px;
    margin-left: 30px;
    border-collapse: collapse;
}

.contentTitle {
    font-family: LINESeedKR-Bd;
    font-size: 1rem;
    width: 100px;
    margin-top: 60px;
    text-align: left;
    vertical-align: middle;
    border-top: 1.5px solid #9BA4B5;
    border-bottom: 1.5px solid #9BA4B5;
    padding: 10px;
}

.contentText {
    font-family: LINESeedKR-Bd;
    font-size: 0.8rem;
    width: 130px;
    border-bottom: 1.5px solid #9BA4B5;
    border-top: 1.5px solid #9BA4B5;
    padding: 10px;
}


/* button */
.btnWrap {
    display: flex;
}

.registBtn {
    font-family: 'LINESeedKR-Bd';
    font-size: 0.8rem;
    color: white;
    background: #785ee0;
    border-color: #785ee0;
    width: 100px;
    height: 25px;
    margin-top: 25px;
    margin-left: 30px;
}

.cancelBtn {
    font-family: 'LINESeedKR-Bd';
    font-size: 0.8rem;
    color: white;
    background: #26199b;
    border-color: #26199b;
    width: 100px;
    height: 25px;
    margin-top: 25px;
    margin-left: 10px;
}