@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.wrap{
    background: white;
    width: 800px;
    height: 400px;
    /* margin-left: 500px;
    margin-bottom: 40px;
    margin-top: 40px; */
    /* border-radius: 20px; */
    font-family: "LINESeedKR-Bd";
    font-size: 18px;
    color: #505050;

    position:absolute;
    margin: -190px -515px;

    border: 1px solid black;
}

.emp{
    height: 350px;
    width: 300px;
    border: solid black 1px;
    transform: translate(33%, 6%);
    /* margin-left: 80px; */
    /* margin-top: 50px; */
}

.textbox{
    height: 30px;
    width: 150px;
    text-align: center;
    font-family: "LINESeedKR-Bd";
    font-size: 14px;
    color: #505050;
    transform: translate(50%, 0);
    margin-top: 10px;
}

.title{
    /* margin-left: 30px;
    margin-top: 14px; */
    margin: auto;
    margin-top: 10px;
}

.titleimg{
    width: 20px;
    height: 20px;
    margin: auto;
    transform: translateX(-500%);
}

.subTitle{
    margin-left: 40px;
    display: flex;
}

.name1{
    margin-right: 10px;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    color: #505050;
}

.name2{
    margin-right: 10px;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    color: #505050;
}

.confirm{
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    background-color: #4A5CFF;
    color: white;
    width: 20px;
   
    transform: translate(1220%, -1440%);
}

.close{
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    background-color: #4A5CFF;
    color: white;
    /* margin-right: 60px; */
    width: 20px;
    /* margin-bottom: 20px; */

    transform: translate(1220%, -1440%);
}

.line{
    width: 300px;
}