@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.wrap{
    background: white;
    width: 800px;
    height: 400px;
    /* margin-left: 500px;
    margin-bottom: 40px;
    margin-top: 40px; */
    /* border-radius: 20px; */
    font-family: "LINESeedKR-Bd";
    font-size: 18px;
    color: #505050;

    position:absolute;
    margin: -150px -430px;

    border: 1px solid black;
}

.emp{
    height: 350px;
    width: 300px;
    border: solid black 1px;
    transform: translate(33%, 6%);
    /* margin-left: 80px; */
    /* margin-top: 50px; */
}

.textbox{
    height: 30px;
    width: 150px;
    text-align: center;
    font-family: "LINESeedKR-Bd";
    font-size: 14px;
    color: #505050;
    transform: translate(50%, 0);
    margin-top: 10px;
}

.title{
    /* margin-left: 30px;
    margin-top: 14px; */
    margin: auto;
    margin-top: 10px;
}

.titleimg{
    width: 20px;
    height: 20px;
    margin: auto;
    transform: translateX(-500%);
}

.subTitle{
    margin-left: 40px;
    display: flex;
}

.name1{
    margin-right: 10px;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    color: #505050;
}

.name2{
    margin-right: 10px;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
    color: #505050;
}

.confirm{
    cursor: pointer;
    margin-top: 15px;
    color: #fff;
    background-color: #716dff;
    border: none;
    border-radius: 3px;  
    width: 70px;
    padding: 3px 7px;
    padding-top: 5px;
    font-family: 'LINESeedKR-Rg';
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    transform: translate(500%, -1300%);
}

.close{
    cursor: pointer;
    /* margin-top: 15px; */
    color: #fff;
    background-color: #716dff;
    border: none;
    border-radius: 3px;  
    width: 70px;
    padding: 3px 7px;
    padding-top: 5px;
    font-family: 'LINESeedKR-Rg';
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 300px;
    transform: translate(500%, -1300%);
}

.line{
    width: 300px;
}