/* Schedule.module.css */

@font-face {
  font-family: "LINESeedKR-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.mainContents {
 
  font-family: "LINESeedKR-Bold", sans-serif;
  flex: 1;
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  border: 2px solid whitesmoke;
  
}

.calendar1 {
  
  width: 50%;
  margin: auto;
  
}

.fcday {
  color: black;
}

.saturday {
  color: blue;
}

.sunday {
  color: red;
}

.inserting {
  position: relative;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: #9b83fa;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: "LINESeedKR-Bold", sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
  float: right;

  transform: translateX(-90%) translateY(-50%);
  margin-left: 15px;

  /* box-shadow: 2px 3px 3px rgb(44, 41, 41); */
}


.allview {
display: flex;
}

.radioOptions {
block-size: 20px;
width: 300px;
position: relative;
margin-left: 480px;
font-family: "LINESeedKR-Regular";
margin-top : 25px;

}


.radioOptions label {
display: inline-block;
cursor: pointer;
padding-left: 25px; /* 필요에 따라 조정하세요 */
position: relative;
font-family:  "LINESeedKR-Bold", sans-serif;
}




.searching {
font-family: "LINESeedKR";
position: relative;

margin-left: 3vw;
border-color: 1px solid black;
transform: translateX(-00%) translateY(170%);
margin-right: 20px;
}

.insertingbutton {
position: relative;
margin-bottom: 20px;

}

.searching input {
margin-right: 3px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid black;
background-color: rgba(0, 0, 0, 0);

}

.searching button {
  width: 120px;
  height: 30px;
  border-radius: 7%;
  border: 3px solid rgba(173, 76, 76, 0.986);
  background-color: rgb(65, 65, 65);
  font-size: normal;
  font-weight: bold;
  color: white;
}