@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.wrap{
    display: flex;
}

.navbarDiv{
    width: 150px;
    height: 100vh;
    background-color: rgba(119, 113, 235);
    text-align: center;
}

.button{
    font-family: "LINESeedKR-Bd";
    font-size : 18px;
    margin-top: 50px;
}

.button2{
    font-family: "LINESeedKR-Bd";
    font-size : 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.navbarDiv li{
    color: white;
    font-family: "LINESeedKR-Bd";
    font-size : 22px;
    list-style: none;
}

.liDiv{
    color: white;
    font-family: "LINESeedKR-Bd";
    font-size : 14px;
}