@font-face {
    font-family: 'esamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container {
    z-index: 999;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 10px;
    font-family: 'LINESeedKR-Rg';
    padding: 10px;
}

/* .container > div {
    border: 1px solid black;
} */

.modalHeader {
    height : 20px;
    text-align: left;
    /* background-image: linear-gradient(to bottom, #fe7277 0%, #f9509c 50%); */
}

.modalTitle {
    text-decoration: 2px underline #1A1779;
    text-underline-position: under;
    text-align: center;
}

.modalBody {
    display: flex;
    justify-content: center;
    height: auto;

}

/* 프로필 이미지 */

.profileDiv {
    width: 300px;
    margin-top: 20px;
}

.profileDiv > img {
    width: 130px;
    height: 130px;
    border-radius: 70%;
    overflow: hidden;
    border: 5px solid #716dff;
    display: block;
    margin: auto;
}

.profileDiv > button {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 7px;
    background-color: #1A1779;
    color: #ffffff;
    cursor: pointer;
    font-family: 'esamanru';
    letter-spacing: 1px;
    margin: auto;
    margin-top: 10px;
}

.profileDiv > button:hover {
    background-color: #94a9ff;
}

.imgInput {
    display: none;
}

.userInfo {
    width: 100%;
}

.userInfo > table {
    text-align: left;
    padding: 20px;
}

.userInfo > table > tr {
    height: 25px;
    border-bottom: 1px solid #1A1779;
}

.userInfo input {
    width: 280px;
    height: 18px;
}

.btn > button {
    width: auto;
    height: 25px;
    border: none;
    border-radius: 7px;
    background-color: #1A1779;
    color: #ffffff;
    cursor: pointer;
    font-family: 'esamanru';
    padding: 0px 10px;
    margin-right: 10px;
}

.btn > button:hover {
    background-color: #94a9ff;
}