@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

.container {
    margin-top: 10px;
    padding: 20px 30px;;
    font-family: 'LINESeedKR-Rg';
}

/* 페이지 제목 */
.pageTitle > div {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 20px;
    text-align: left;
    letter-spacing: 1px;
}

.searchbar {
    float: right;
    position: relative;
}
