@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

.container {
    margin-top: 10px;
    padding: 20px 30px;;
    font-family: 'LINESeedKR-Rg';
}

/* 페이지 제목 */
.pageTitle {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 20px;
    text-align: left;
    letter-spacing: 1px;
}

.searchbar {
    position: relative;
    float: right;
    top: 30px;
    right: 10px;
    border: none;
    width: 230px;
    height: 30px;
    border-bottom: 1.5px solid #5a5a5a;
}

.searchbar > input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    height: 30px;
    margin-left: 8px;
}

.searchbar > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
}