@font-face {
    font-family: 'esamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.logo {
    width: 100%;
    height: 80px;
}

.titleDiv {
    text-transform: uppercase;
    font-family: 'esamanru';
    color: #ffffff;
}

.titleDiv .text1 {
    font-size: 36px;
}

.titleDiv .text2 {
    font-size: 16px;
}
