@font-face {
    font-family: 'esamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 200px;

}

/* profile */
.profileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  rgba( 255, 255, 255, 0.85 );
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: auto;
    height: 200px;
    margin: 10px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.profileBox {
    width: 110px;
    height: 110px; 
    border-radius: 70%;
    overflow: hidden;
    border: 5px solid #716dff;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userName {
    font-family: 20px;
    font-family: 'esamanru';
    line-height: 40px;
    text-align: center;   
}

.logoutBtn {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #1A1779;
    color: #ffffff;
    cursor: pointer;
    font-family: 'esamanru';
    letter-spacing: 1px;
}

.logoutBtn:hover {
    background-color: #94a9ff;
}

/* navbar */
.navDiv {
    background:  rgba( 255, 255, 255, 0.85 );
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    width: auto;
    height: 660px;
    min-width: 180px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;

}

.navDiv ul {
    list-style: none;
    font-family: 'esamanru';
}

.navDiv li {
    font-size: 22px;
    letter-spacing: 0.5px ;
}

.menu {
    overflow: hidden;
}

.menu > li {
    width: 100%;
    line-height: 50px;
    text-indent: 1.5em;
}

.subMenu > li {
    font-size: 18px;
    line-height: 32px;
    text-align: left;
}
  
.subMenu {
    height: 0;
    overflow: hidden;
  }

.menu > li:hover {
    border-radius: 10px;
    overflow: hidden;
    color: #2b2b2b;
}

.menu > li:hover .arrowYes {
    transform: rotateZ(90deg);
    transition-duration: .5s;
    /* filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(249deg) brightness(101%) contrast(101%); */
}
  
.menu > li:hover .subMenu {
    height: auto;
    transition-duration: 0.5s;
}

.menu > li:hover .subMenu > li:hover {
    text-decoration: 2px underline #2b2b2b;
    text-underline-position: under;
}

.subMenu > li:hover {
    transition-duration: 1s;
}

.link {
    text-decoration: none;
    display: block;
    color: #2b2b2b;
}

.arrowYes {
    position: relative;
    top: 7px;
    width: 38px;
    height: 100%;
    filter: invert(13%) sepia(3%) saturate(84%) hue-rotate(78deg) brightness(103%) contrast(91%);
}

.arrowNo {
    position: relative;
    visibility: hidden;
    top: 11px;
    width: 35px;
    height: 100%;
    filter: invert(13%) sepia(3%) saturate(84%) hue-rotate(78deg) brightness(103%) contrast(91%);
}

img {
    vertical-align: text-bottom;
}
