@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/LINESeedKR-Rg.woff') format('woff');
    font-style: normal;
}

.pagingBtn{
    width: 25px;
    height: 25px;
    margin: 20px 5px;
    border-radius: 5px;
    border: 0px;
    background-color: #f3f3f3;
    font-weight: bold;
    font-family: 'LINESeedKR-Rg';
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02);
}

.pagingBtn:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #94a9ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
