@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.pageTitle {
    font-family: LINESeedKR-Bd;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 30px;
}

.contentWrap {
    display: inline-block;
    background-color: #ffffff;
    width: 300px;
    height: 145px;
    margin-left: 30px;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 15px;
}

.contentTitle {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: LINESeedKR-Bd;
    font-size: 14px;
    border-bottom: 1.5px solid #c4cad7;
}

.contentText{
    display: inline-block;
    margin-right: 10px;
    font-family: LINESeedKR-Bd;
    font-size: 14px;
}

.contentTitle2 {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: LINESeedKR-Bd;
    font-size: 14px;
    border-bottom: 1.5px solid #c4cad7;
}

.contentText2{
    display: inline-block;
    margin-right: 10px;
    font-family: LINESeedKR-Bd;
    font-size: 14px;
    border-bottom: 1.5px solid #c4cad7;
}

.tableWrap {
    margin: auto;
    background-color: #ffffff;
    min-width: 800px;
    height: 500px;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 100px;
    padding-top: 3px;
    padding-bottom: 15px;
}