@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.pageTitle {
    font-family: "LINESeedKR-Bd";
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 30px;
}

/* 근태 현황 박스 */
.boxWrap {
    margin-top: 30px;
    margin-left: 30px;
}
.attCumm {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #4A5CFF;
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.attCummText{
    display: inline-block;
    font-family: "LINESeedKR-Bd";
    font-size: 0.9rem;
}

.attVac {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #67DB80;
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.attVacText{
    display: inline-block;
    font-family: "LINESeedKR-Bd";
    font-size: 0.9rem;
}

.attLate {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FC618A;
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.attLateText{
    display: inline-block;
    font-family: "LINESeedKR-Bd";
    font-size: 0.9rem;
}

/* list Title*/
.pageTitle{
    font-family: "LINESeedKR-Bd";
    font-size: 1.3rem;
}

.pageMiddleTitle{
    margin: auto;
    margin-top: 30px;
    font-family: "LINESeedKR-Bd";
    font-size: 1.2rem;
}

.contentTb {
    margin: auto;
    margin-left: 30px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
 }

 .listTitleName{
    font-family: "LINESeedKR-Bd";
    font-size: 0.7rem;
    min-width: 39px;
    border: 1px solid #9BA4B5;
    border-collapse: collapse;
}

.listTitle{
    font-family: "LINESeedKR-Bd";
    font-size: 0.7rem;
    min-width: 25px;
    border: 1px solid #9BA4B5;
    text-align: center;
    padding: 12px 0px 12px 0px;
}

/* item */
.tableWarp{
    margin: auto;
    margin-left: 30px;
    border-collapse: collapse;
    min-width: 52px;
    min-height: 33px;
    text-align: center;
}

.contentText {
    font-family: "LINESeedKR-Bd";
    font-size: 0.7rem;
    min-width: 39px;
    border: 1px solid #9BA4B5;
    border-collapse: collapse;
    padding-top: 2px;
}

.contentBox {
    font-family: "LINESeedKR-Bd";
    font-size: 0.8rem;
    min-width: 26px;
    border: 1px solid #9BA4B5;
    border-collapse: collapse;
    padding-top: 2px;
}

.contentTextBox {
    font-family: "LINESeedKR-Bd";
    font-size: 0.8rem;
    min-width: 17px;
    border-collapse: collapse;
    margin-top: 2px;
}

.redBox {
    display: inline-block;
    height: 20px;
    background-color: #FC618A;
}

.blueBox {
    height: 20px;
    background-color: #4A5CFF;
}





